@model MVC_WebInterface.Models.DTO.PersonelDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Kullanıcı Silme</h1>

<h3>Belirtilen Kullanıcıyı Silmek İstediğinize Emin Misiniz</h3>
<div>
    <h4>Kullanıcı</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonelAdSoyad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DogumYeri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IkametAdresi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MezuniyetBilgisi)
        </dd>       
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Ana Listeye Dön</a>
    </form>
</div>
